__pycache__/
*.pyc
.venv/
venv/
env/
.env
.ipynb_checkpoints/
# Ignorer les très gros datasets s'ils sont téléchargés (images et textes), mais garder les classiques
data/adbench/CV_*/
data/adbench/NLP_*/